body{
    background-color: rgba(244, 245, 243, 0.926);
}

h1{
    background-color: rgb(219, 219, 183);
}

.container{
    background-color: rgb(241, 215, 226);
    border: 1px dotted black;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 20px;
    width: 600px;
}

.taskText{
    text-decoration: line-through;
    opacity: 0.6;
    color: rgb(44, 43, 43);
}

.task-item{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 8px;
    background-color: #eecadb;
    border-radius: 5px;
    cursor: pointer;
}

.task-item:hover{
    transform: scale(1.01);
    transition: 0.15 ease;
}

.delete-btn{
    background-color: rgb(230, 88, 88);
    margin-left: 10px;
}
.delete-btn:hover{
    background-color: red;
}
